[submodule "plugins/firefox"]
	path = plugins/firefox
	url = https://github.com/smallstepman/yeetnyoink.git
	branch = plugin/firefox
[submodule "plugins/chrome"]
	path = plugins/chrome
	url = https://github.com/smallstepman/yeetnyoink.git
	branch = plugin/chrome
